html
{
    overflow-y:scroll;	
}
body {
	font: 12px Arial, Helvetica, sans-serif;
	background-color: #FDFDF6;
	padding: 0;
	margin: 0;
}
img {
	border: none;
}
.dock {
	position: absolute; 
	height: 50px; 
	left:0;
	width:95%;
}

/* dock - top */
.dock-container {
	top:40px;
	position: absolute;
	height: 50px;
	padding-left: 20px;
	
}
a.dock-item {
	display: block;
	width: 40px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
.dock-item span {
	display: none; 
	padding-left: 20px;
}
/* dock2 - bottom */
#dock2 {
	width: 100%;
	bottom: 0px;
	position: absolute;
	left: 0px;
}
.dock-container2 {
	position: absolute;
	height: 50px;
	background: url(../img/fisheye/dock-bg.gif);
	padding-left: 20px;
}
a.dock-item2 {
	display: block; 
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 40px; 
	color: #000; 
	bottom: 0px; 
	position: absolute;
	text-align: center;
	text-decoration: none;
}
.dock-item2 span {
	display: none;
	padding-left: 20px;
}
.dock-item2 img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}


/*jquery sortable*/
.column { width: 320px;  padding-bottom: 100px; }

.portlet { margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }


.textbox-app
{
	background-color:#ffffa2;
	border: 1px solid #dddddd;
	color:#333333;
	-moz-border-radius:4px 4px 4px 4px;
}
.textbox-error
{
	background-color:#ff0000;
	border: 1px solid #cd0a0a;
	color:#ffffff;
	-moz-border-radius:4px 4px 4px 4px;
}
.formitem
{
	margin-bottom:20px;
	font:14px arial,sans-serif;
	
}
.tip
{
	font-weight:bold;
	font-size:14px;
	margin-top:1em;
	border:1px solid #b3b3b3;
	color:#353535;
	padding:0.5em;
	padding-left:50px;
	background:#ffffd9 url('../img/warning.gif') no-repeat;
	height:60px;
}
.tip1
{
	font-weight:bold;
	font-size:14px;
	margin-top:1em;
	border:1px solid #b3b3b3;
	color:#353535;
	padding:0.5em;
	padding-left:50px;
	background:#ffffd9 url('../img/warning.gif') no-repeat;
	height:60px;
}
.tip2
{
	font-size:12px;
	margin-top:1em;
	border:1px solid #b3b3b3;
	color:#353535;
	padding:0.5em;
	padding-left:20px;
	background-color:#ffffd9;
	height:60px;
}
.resultsuccess
{
	margin-top:1em;
	border:1px solid #b3b3b3;
	color:#353535;
	font-weight:bold;
	font-size:14px;
	background:#ffffd9 url('../img/success_icon.png') no-repeat;
	padding:0.5em;
	padding-left:50px;
	height:80px;
}
.resulterror
{
	font-weight:bold;
	font-size:14px;
	margin-top:1em;
	border:1px solid #b3b3b3;
	color:#353535;
	background:#ffcccc url('../img/error.png') no-repeat;
	padding:0.5em;
	height:80px;
	padding-left:50px;
}
#a_app_save
{
	display:block;
	background:url("../img/save_off.png") no-repeat 0 0;
	width:60px;
	height:60px;
}
#a_app_save:hover
{
	background:url("../img/save_on.png") no-repeat 0 0;
}
#a_app_submit
{
	display:block;
	background:url("../img/approve_off.png") no-repeat 0 0;
	width:60px;
	height:60px;
}
#a_app_submit:hover
{
	background:url("../img/approve_on.png") no-repeat 0 0;
}
#a_app_quit
{
	display:block;
	background:url("../img/quit_off.png") no-repeat 0 0;
	width:60px;
	height:60px;
}
#a_app_quit:hover
{
	background:url("../img/quit_on.png") no-repeat 0 0;
}
.head-container
{
	height:100px;
	background-color:#3d71cc;
	background-image:url(../img/2tone_bg.gif);
	background-repeat:repeat-x;
	width: 100%; height:100px;
	padding:0px; 2px; 2px; 2px;
	margin-left:0px;
	
}